* {
    /* border: 2px solid #00FF00; */
}

::selection {
    background-color: #3882F6;
    color: #E5E7EB;
}

body {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    text-align: center;
    margin: 0;
}

/* Header */

.header-wrapper, .hero-wrapper {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #1F2937;
}

.header {
    flex: 1;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.header ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    magin: 0;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.header-link:hover {
    color: #3882F6;
}

/* Hero */

.hero {
    flex: 1;
    max-width: 1100px;
    min-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px 0;
}

.hero-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    max-width: 450px;
    padding: 0;
    margin: 0;
}

.hero-content h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
}

.hero-content p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.signup-button {
    align-self: flex-start;
    margin-top: 12px;
    color: #E5E7EB;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    border-radius: 8px;
    padding: 6px 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.signup-button:hover {
    background-color: #2759AA;
    border: 1px solid #2759AA;
}

.hero img {
    width: 350px;
    height: 233px;
    border-radius: 28px;
    box-shadow: 10px 10px 5px #111;
}

/* Info */
