@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --dark-background: #1F2937;
    --light-text: #F9FAF8;
    --light-gray: #E5E7EB;
    --light-blue: #3882F6;
    --dark-text: #1F2937;
    --max-width: 900px;
}

* {
    font-family: Roboto, system-ui, -apple-system, sans-serif;
}

p, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
}

button {
    padding: 8px 24px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
}

button:hover {
    cursor: pointer;
}


/* Navigation Bar */

#navigation-bar-wrapper {
    background-color: var(--dark-background);
}

.navigation-bar {
    padding: 24px;
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    gap: 24px;
    align-items: center;
    max-width: var(--max-width);
}

#header-logo {
    margin-right: auto;
    font-size: 24px;
    color: var(--light-text);
    font-weight: 500;
}

.navigation-bar a {
    text-decoration: none;
    color: var(--light-gray);
}

.navigation-bar a:hover {
    color: var(--light-blue);
}

/* Header */

#header-wrapper {
    background-color: var(--dark-background);
}

.header {
    display: flex;
    max-width: var(--max-width);
    gap: 48px;
    padding: 76px 24px 100px 24px;
}

.header-text {
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

.header h1 {
    color: var(--light-text);
    font-weight: 900;
    font-size: 48px;
}

.header p {
    color: var(--light-gray);
    font-size: 18px;
}

.header button {
    align-self: flex-start;
    color: var(--light-text);
    background-color: var(--light-blue);
    font-weight: bold;
}

.header button:hover {
    background-color: var(--light-text);
    color: var(--light-blue);
}

.header img {
    width: 400px;
    object-fit: scale-down;
}

/* Info */

.info {
    display: flex;
    max-width: var(--max-width);
    flex-direction: column;
    align-items: center;
    padding: 40px 24px 80px 24px;
}

.info h2 {
    color: var(--dark-text);
    font-weight: 900;
    font-size: 36px;
    padding-bottom: 40px;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.info-card {
    flex-basis: 161px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    text-align-last: center;
    gap: 8px;
    color: var(--dark-text);
    font-size: 18px;
}

.info-card-square {
    width: 161px;
    height: 161px;
    border: 3px solid var(--light-blue);
    border-radius: 12px;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Quote */

#quote-wrapper {
    background-color: var(--light-gray);
}

.quote {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    padding: 80px 24px;
    align-items: center;
}

.quote q {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    quotes: none;
    color: var(--dark-text);
    padding: 0 60px;
}

.quote p {
    align-self: flex-end;
    font-size: 24px;
    padding: 0 60px;
}

/* Call to action */

.call-to-action {
    background-color: var(--light-blue);
    margin: 120px 24px;
    padding: 40px 82px;
    border-radius: 12px;
    display: flex;
    gap: 120px;
    align-items: center;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.call-to-action h3 {
    color: var(--light-text);
    font-size: 24px;
}

.call-to-action p {
    color: var(--light-gray);
    font-size: 18px;
}

.call-to-action button {
    flex-shrink: 0;
}

.call-to-action button {
    color: var(--light-text);
    background-color: transparent;
    font-weight: bold;
    border: 3px solid var(--light-text)
}

.call-to-action button:hover {
    background-color: var(--light-text);
    color: var(--light-blue);
}

/* Footer */

#footer-wrapper {
    background-color: var(--dark-background);
}

.footer {
    color: var(--light-gray);
    font-size: 18px;
    padding: 24px;
}